@page "/"

<h3 class="m-3">Hello, World!</h3>

<CodeCards />

<div class="jumbotron jumbotron-fluid m-3">
  <div class="container">
    <p class="lead">My landing spot for the World. A sandbox for code and thoughts.          
    </p>
  </div>
</div>
