@page "/"

<h3 class="m-3">Hello, World!</h3>

<CodeCards />

<div class="jumbotron jumbotron-fluid m-3">
  <div class="container">
    <p class="lead">My landing spot for the World. A sandbox for code and thoughts.
    </p>
    <p> 
      COBOL is the first Hello example and my first job. This programming position taught me that you should never stop 
      learning. After coding in it for two years, I read an intermediate level book and I was amazed how much it 
      improved my skill.  
    </p> 
    <p>
      R, in the middle, is a superb language due to its efficiency. RStudio is the complete tool for data wrangling, 
      analysis, and comprehensive reporting. R for Data Science is a great book to learn the basics of using the tidy
      libraries which make R much easier.    
    </p>
    <p>
      The third program is C#. C# and .NET are great for automation, integrations, and web applications. This website
      is written using Blazor which runs .NET in the web browser.    
    </p>
  </div>
</div>
