<div class="container">
  <div class="row">
    <div class="alert alert-secondary m-2 col-sm color9" role="alert">
      <span class="oi oi-pencil mr-2"></span>
         <pre>
        IDENTIFICATION DIVISION.       
        PROGRAM-ID. HELLO-WORLD.
        PROCEDURE DIVISION.
            DISPLAY 'Hello world!'.
            STOP RUN.
      </pre>
    </div>
  <div class="alert alert-secondary m-2 col-sm color10" role="alert">
    <span class="oi oi-pencil mr-2"></span>
    <pre class="mx-auto p-5">print("Hello World!")</pre>
  </div>
  <div class="alert alert-secondary m-2 col-sm color11" role="alert">
      <span class="oi oi-pencil mr-2"></span>
         <pre>
      using System;

      class Program
      {
        static void Main()
        {
            Console.WriteLine("Hello, world!");
        }
      }
      </pre>
    </div>
  </div>
</div>

@code {
}
