@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 text-right">
        <a href="https://github.com/AndrewBorst/BlazorTest" target="_blank">
            <span class="oi oi-code"></span>
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
