@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">
        <a href="https://github.com/AndrewBorst/BlazorTest" target="_blank">
            <span class="oi oi-chevron-left"></span>
            Code!
            <span class="oi oi-chevron-right"></span>
        </a>        
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
